html,body{
  margin:0px; 
  padding:0px;
  width:100%; 
  height:100%;
}

.canvas-back {
  position: absolute;
			top: 100px;
			left: 0;
			z-index: -1;
  background-color: #404040f4;
}

.canvas-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
}

.canvas-grid canvas {
  width: 30vw;
  height: 30vh;
  margin: 10px;
}

.canvas-cubos{
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

.canvas-cubos img {
  max-width: 100px;
  max-height: 100px;
}

.canvas-description {
  color: white;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.total {
  font-weight: bold;
}


div{
  display:flex; 
  width:100%; 
  height:100%; 
  align-items:center; 
  justify-content:center;
}

header {
    background-color: hsl(103, 98%, 18%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

nav li {
    margin: 0;
  }
  
nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
  }
  
